@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
    font-family: 'Roboto Flex', sans-serif;
    background-color: #efefef;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ba40aa;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

